#########################################################################################
#                                                                                       #
#                              Requirements                                             #
#                                                                                       #
#########################################################################################
python-keycloak>=0.17
pyjwt